b:hover
{
    color: blue;
}
b{
    color: black;
}

.helpMsg
{
    background-color: lightblue;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    float: left;
}
img
{
    height: 20px;
    width: 20px;
}